<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<H1>Data Science Tools and Ecosystem</H1>

<p1>In this notebook, Data Science Tools and Ecosystem are summarized.</p1>

<strong>Objectives:
<ul>
   <li>popualr languages of data science</li> 
    <li>popular libraries of data science</li>
    <li>data science tools</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol type ="1">
    <li>Python</li>
<li>
    R
</li>
<li>SQL</li>
<li>NOSQL</li>
    <li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol type="1">
    <li>Numpy</li>
     <li>Scipy</li>
    <li>Tensor Flow</li>
       <li>Scala</li>
</ol>

<table>
    <thead>
        <th>Data Science Tools</th>
    </thead>
    <tbody>
        <tr>
        <td>
            1. Apache Spark
        </td>
           </tr>
       <tr> <td>
            2.Jupitar Notebook
        </td></tr>
    <tr>
        <td>3.Anconda</td>
    </tr>
    <tr>
        <td>
            4.R Studio
        </td>
    </tr>
     </tbody>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
Anas Mahmoud Soliman